@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    border-radius: 20px;
    background-color: rgb(28, 85, 42);
    background-origin: padding-box;
    box-decoration-break: slice;
    
}

h3{
    text-align: justify;
    font-family: 'Comfortaa', cursive;
    margin-right: 50px;
    margin-left: 50px;
}

h1{
    font-family: 'Rampart One', cursive;
    text-align: center;
    
}
div{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    border-image: auto;  
    text-align: center; 
}

h2{
    margin-right: 30px;
    margin-left: 30px;
}

img {
    text-align: center;

}

.box {
    background: white;
    padding: 4rem;
    box-shadow: 2px 2px 16px rgba(0,0,0.16);
    border-radius: 50px;
    text-align: center;
    margin-top: 8rem;
}






